{$htmlheader|smarty:nodefaults}
    <h2>以下の内容に変更します。よろしいでしょうか？</h2>
    <table id="ex_t" border="0" cellspacing="1" cellpadding="0">
      <tr><td class="td_left2">部門</td><td class="td_right">{$category_name}の部</td></tr>
      <tr>
        <td class="td_left2">都道府県</td>
        <td class="td_right">{$smarty.session.p.pref_name|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">団体名</td>
        <td class="td_right">{$smarty.session.p.name|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">住所</td>
        <td class="td_right">{$smarty.session.p.address|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">電話番号</td>
        <td class="td_right">{$smarty.session.p.tel|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">監督名</td>
        <td class="td_right">{$smarty.session.p.manager|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">協力審判員</td>
        <td class="td_right">{$smarty.session.p.referee|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">段位</td>
        <td class="td_right">{$smarty.session.p.rank|escape}</td>
      </tr>
{if $smarty.session.p.category < 3}
      <tr>
        <td class="td_left2">審判希望部門</td>
        <td class="td_right">
          {if $smarty.session.p.refereeing_category==1}中学男子{/if}
          {if $smarty.session.p.refereeing_category==2}中学女子{/if}
        </td>
      </tr>
{/if}
      <tr>
        <td class="td_left2">主将</td>
        <td class="td_right">{$smarty.session.p.captain|escape}</td>
      </tr>
      <tr>
{if $smarty.session.p.category==3}
        <td class="td_left2">先鋒氏名</td>
{else}
        <td class="td_left2">選手氏名1</td>
{/if}
        <td class="td_right">{$smarty.session.p.player1|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">学年</td>
        <td class="td_right">{$smarty.session.p.player1_grade|escape}</td>
      </tr>
      <tr>
{if $smarty.session.p.category==3}
        <td class="td_left2">次鋒氏名</td>
{else}
        <td class="td_left2">選手氏名2</td>
{/if}
        <td class="td_right">{$smarty.session.p.player2|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">学年</td>
        <td class="td_right">{$smarty.session.p.player2_grade|escape}</td>
      </tr>
      <tr>
{if $smarty.session.p.category==3}
        <td class="td_left2">中堅氏名</td>
{else}
        <td class="td_left2">選手氏名3</td>
{/if}
        <td class="td_right">{$smarty.session.p.player3|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">学年</td>
        <td class="td_right">{$smarty.session.p.player3_grade|escape}</td>
      </tr>
      <tr>
{if $smarty.session.p.category==3}
        <td class="td_left2">副将氏名</td>
{else}
        <td class="td_left2">選手氏名4</td>
{/if}
        <td class="td_right">{$smarty.session.p.player4|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">学年</td>
        <td class="td_right">{$smarty.session.p.player4_grade|escape}</td>
      </tr>
      <tr>
{if $smarty.session.p.category==3}
        <td class="td_left2">大将氏名</td>
{else}
        <td class="td_left2">選手氏名5</td>
{/if}
        <td class="td_right">{$smarty.session.p.player5|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">学年</td>
        <td class="td_right">{$smarty.session.p.player5_grade|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">チーム紹介</td>
        <td class="td_right">{$smarty.session.p.introduction|escape}</td>
      </tr>
      <tr>
        <td class="td_right">主な戦績</td>
        <td class="td_right">{$smarty.session.p.main_results|escape}</td>
      </tr>
      <tr>
        <td colspan="2" class="style2">交通手段について</td>
      </tr>
      <tr>
        <td class="td_left2">交通手段</td>
        <td class="td_right">{$smarty.session.p.transport_name|escape}&nbsp;
        {$smarty.session.p.transport_num|escape}台</span>&nbsp;<span class="style2">その他</span>
        {$smarty.session.p.transport_other|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">お弁当</td>
        <td class="td_right">18日（土）{$smarty.session.p.lunch1|escape}個
          &nbsp;&nbsp;&nbsp;19日（日）{$smarty.session.p.lunch2|escape}個
        </td>
      </tr>
      <tr>
        <td class="td_left2">連絡欄</td>
        <td class="td_right">{$smarty.session.p.comment|escape}</td>
      </tr>
      <tr>
        <td class="td_left2">宿泊</td>
        <td class="td_right">{$smarty.session.p.stay_name|escape}</td>
      </tr>
    </table>
    <br />
    <form action="info.php" method="post">
      <input type="hidden" name="mode" value="exec2">
      <input type="submit" name="reinput" value="再編集">
      <input type="submit" name="exec" value="変更">
    </form>
    <br />
    <br />
    <br />
{$htmlfooter|smarty:nodefaults}
