{$htmlheader|default:''}
{if $series_mw =='m'}
  {if $seriesinfo.dantai_m_name == ''}
<h2>団体(男子)トーナメント</h2>
  {else}
<h2>{$seriesinfo.dantai_m_name}トーナメント</h2>
  {/if}
{/if}
{if $series_mw =='w'}
  {if $seriesinfo.dantai_w_name == ''}
  <h2>団体(女子)トーナメント</h2>
  {else}
  <h2>{$seriesinfo.dantai_w_name}トーナメント</h2>
  {/if}
{/if}
    <div style="float: right;">
{if $smarty.session.auth.locked == 0}
      <form action="dantai_tournament.php?s={$series}&mw={$series_mw}" method="post" enctype="multipart/form-data">
        <input name="csv_file" type="file" value="" />
        <input type="hidden" name="mode" value="loadcsv" />
        <input type="submit" name="submit" value="csvデータ読み込み" />
      </form>
{else}
        <input name="csv_file" type="file" value="" />
        <input type="button" name="submit" value="新規トーナメント作成" />
{/if}
      </div>
    </h2>
{**}
{if $seriesinfo.enable_clear == 1 && $seriesinfo.enable_clear_dt == 1}
    <form action="dantai_tournament.php?s={$series}&mw={$series_mw}" method="post">
      <input type="hidden" name="mode" value="clear" />
      <input type="submit" name="submit" value="試合データクリア" />
    </form>
{/if}
{**}
    <form action="dantai_tournament.php?s={$series}&mw={$series_mw}" method="post">
      <input type="hidden" name="mode" value="output" />
      <input type="submit" name="submit" value="PDFファイル出力" />
    </form>
    <form action="dantai_tournament.php?s={$series}&mw={$series_mw}" method="post">
      <input type="hidden" name="mode" value="output_excel_chart" />
      <input type="submit" name="submit" value="トーナメント表excel出力" />
    </form>
    <form action="dantai_tournament.php?s={$series}&mw={$series_mw}" method="post">
      <input type="hidden" name="mode" value="output_excel_result" />
      <input type="submit" name="submit" value="トーナメント詳細結果excel出力" />
    </form>
    <form action="dantai_tournament.php?s={$series}&mw={$series_mw}" method="post">
      <input type="hidden" name="mode" value="update_result" />
      <input type="submit" name="submit" value="リザルト更新" />
    </form>
    <br />
{*
<!--
    <form action="dantai_tournament.php?s={$series}&mw={$series_mw}" method="post">
      <input type="hidden" name="mode" value="output_excel_prize" />
      <input type="submit" name="submit" value="表彰用テキスト出力" />
    </form>
-->
<!--
    <form action="dantai_tournament.php?s={$series}&mw={$series_mw}" method="post">
      <input type="hidden" name="mode" value="output_excel_prize8" />
      <input type="submit" name="submit" value="ベスト８テキスト出力" />
    </form>
-->
*}
{if $smarty.session.auth.locked == 0}
    <form action="dantai_tournament.php?s={$series}&mw={$series_mw}" method="post">
      <input type="hidden" name="mode" value="update" />
      <input type="submit" name="get_league_advanced" value="リーグ戦結果読み込み" />
      <br />
      <br />
      <input type="submit" name="update" value="更新" />
{else}
      <input type="button" name="update" value="更新" />
{/if}
{*
<!--
    <form action="dantai_tournament.php?c={$category}" method="post">
      <input type="hidden" name="mode" value="output" />
      <input type="hidden" name="category" value="{$category}" />
      <input type="submit" name="submit" value="ファイル出力" />
    </form>
-->
*}
{section name=tournament_data loop=$tournament_list}
    <table id="ex_t" border="0" cellspacing="1" cellpadding="0">
      <tr>
        <td class="td_right" colspan="2">対戦学校</td>
        <td class="td_right" colspan="3">試合
        </td>
      </tr>
{section name=tournament_team loop=$tournament_list[tournament_data].team}
      <tr>
        <td class="td_right" colspan="2">
          {html_options name="entry_`$smarty.section.tournament_data.iteration`_`$smarty.section.tournament_team.iteration`" options=$entry_list selected=$tournament_list[tournament_data].team[$smarty.section.tournament_team.index].id}
        </td>
{section name=tournament_match_offset start=0 loop=$tournament_list[tournament_data].match_level step=1}
{assign var='match_no' value=$tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset]-1}
{if $tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset] > 0 }
{if $tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset] < 1000 }
        <td class="td_right" rowspan="2">
          {html_options name="place_`$smarty.section.tournament_data.iteration`_`$tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset]`" options=$place_array selected=$tournament_list[tournament_data].match[$match_no].place}
          {html_options name="place_match_`$smarty.section.tournament_data.iteration`_`$tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset]`" options=$place_match_no_array selected=$tournament_list[tournament_data].match[$match_no].place_match_no}
          <a href="../input/dantai_result.php?a=1&p={$tournament_list[tournament_data].match[$match_no].place}&m={$tournament_list[tournament_data].match[$match_no].place_match_no}&lg=1&v={$seriesinfo.navi_id}">結果</a>
          &nbsp;<a href="/result/{{$smarty.session.auth.result_path_prefix}}/pdf/match{$tournament_list[tournament_data].match[$match_no].match}.pdf" target="_blank">PDF</a>
        </td>
{elseif $tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset] >= 2000}
{assign var='name_offset' value=$tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset]%1000}
{assign var='name_offset2' value=$name_offset-1}
        <td class="td_right">{$tournament_list[tournament_data].match[$name_offset2].team2_name}</td>
{elseif $tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset] >= 1000}
{assign var='name_offset' value=$tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset]%1000}
{assign var='name_offset2' value=$name_offset-1}
        <td class="td_right">{$tournament_list[tournament_data].match[$name_offset2].team1_name}</td>
{else}
        <td class="td_right"></td>
{/if}
{elseif $tournament_list[tournament_data].match_array[tournament_team][tournament_match_offset] == 0}
        <td class="td_right"></td>
{/if}
{/section}
{/section}
    </table>
{if $tournament_list[tournament_data].extra_match_num > 0}
    <table>
{section name=tournament_extra_match start=0 loop=$tournament_list[tournament_data].extra_match_num step=1}
{assign var='match_no' value=$tournament_list[tournament_data].match_num+intval(tournament_extra_match)}
{assign var='place_no' value=$tournament_list[tournament_data].match_num+intval(tournament_extra_match)+1}
      <tr>
        <td class="td_right" colspan="3">順位決定戦</td>
      </tr>
      <tr>
        <td class="td_right">{$tournament_list[tournament_data].match[$match_no].team1_name}</td>
        <td class="td_right" rowspan="2">
          {html_options name="place_`$smarty.section.tournament_data.iteration`_`$place_no`" options=$place_array selected=$tournament_list[tournament_data].match[$match_no].place}
          {html_options name="place_match_`$smarty.section.tournament_data.iteration`_`$place_no`" options=$place_match_no_array selected=$tournament_list[tournament_data].match[$match_no].place_match_no}<br />
          <a href="../input/dantai_result.php?a=1&p={$tournament_list[tournament_data].match[$match_no].place}&m={$tournament_list[tournament_data].match[$match_no].place_match_no}&lg=1&v={$seriesinfo.navi_id}">結果</a>
        </td>
        <td class="td_right">
{if $tournament_list[tournament_data].match[$match_no].winner == 1}
            {$tournament_list[tournament_data].match[$match_no].team1_name}
{/if}
{if $tournament_list[tournament_data].match[$match_no].winner == 2}
            {$tournament_list[tournament_data].match[$match_no].team2_name}
{/if}
        </td>
      </tr>
      <tr>
        <td class="td_right">{$tournament_list[tournament_data].match[$match_no].team2_name}</td>
        <td class="td_right"></td>
      </tr>
{/section}
    </table>
{/if}
{/section}
{if $smarty.session.auth.locked == 0}
    </form>
{/if}
    <br />
    <br />
    <br />
{$htmlfooter|default:''}
