{$htmlheader|smarty:nodefaults}
    <h2>団体({if $mw =='m'}男子{else}女子{/if})リーグ戦</h2>
    <form action="info.php" method="post">
      <input type="hidden" name="mode" value="new" />
      <input type="hidden" name="category" value="{$category}" />
      <input type="submit" name="submit" value="新規登録" />
    </form>
    <form action="info.php" method="post">
      <input type="hidden" name="mode" value="output" />
      <input type="hidden" name="category" value="{$category}" />
      <input type="submit" name="submit" value="ファイル出力" />
    </form>
    <form action="dantai_league.php?s={$series}&mw={$mw}" method="post">
{section name=league_data loop=$league_list}
    <table id="ex_t" border="0" cellspacing="1" cellpadding="0">
      <tr>
        <td class="td_right2">
          {$league_list[league_data].name}
        </td>
        <td class="td_right2">
            <input type="hidden" name="mode" value="update">
            <input type="submit" name="edit" value="データ更新">
        </td>
        <td class="td_right2" colspan="{$league_list[league_data].team_num+3}">&nbsp;</td>
      </tr>
      <tr>
        <td class="td_right">対戦学校</td>
        <td class="td_right" colspan="{$league_list[league_data].team_num}">試合
        <td class="td_right">得点</td>
        <td class="td_right">勝者数</td>
        <td class="td_right">勝本数</td>
        <td class="td_right">順位</td>
        </td>
      </tr>
      <tr>
        <td class="td_right">----</td>
{section name=dantai_index_row start=0 loop=$league_list[league_data].team_num step=1}
        <td class="td_right">
{foreach from=$entry_list key=k item=v}
{if $league_list[league_data].team[$smarty.section.dantai_index_row.index].team == $k}{$v}{/if}
{/foreach}
        </td>
{/section}
        <td class="td_right"></td>
        <td class="td_right"></td>
        <td class="td_right"></td>
        <td class="td_right"></td>
      </tr>
{assign var='match_no' value=1}
{assign var='match_no_index' value=0}
{section name=dantai_index_row start=0 loop=$league_list[league_data].team_num step=1}
      <tr>
        <td class="td_right">
          {html_options name="entry_`$smarty.section.league_data.iteration`_`$smarty.section.dantai_index_row.iteration`" options=$entry_list selected=$league_list[league_data].team[$smarty.section.dantai_index_row.index].team}
        </td>
{section name=dantai_index_col start=0 loop=$league_list[league_data].team_num step=1}
{if $smarty.section.dantai_index_row.iteration == $smarty.section.dantai_index_col.iteration}
        <td class="td_right">----</td>
{elseif $smarty.section.dantai_index_row.iteration < $smarty.section.dantai_index_col.iteration}
        <td class="td_right">
          {html_options name="place_`$smarty.section.league_data.iteration`_`$match_no`" options=$place_array selected=$league_list[league_data].match[$match_no_index].place}
          {html_options name="place_match_`$smarty.section.league_data.iteration`_`$match_no`" options=$place_match_no_array selected=$league_list[league_data].match[$match_no_index].place_match_no}
          <a href="../../input/dantai_result.php?a=1&s={$series}&l={$league_list[league_data].id}&m={$league_list[league_data].match[$match_no_index].match}">{if $league_list[league_data].match[$match_no_index].winner==1}○{elseif $league_list[league_data].match[$match_no_index].winner==2}△{else}□{/if}</a>
        </td>
{assign var='match_no' value=$match_no+1}
{assign var='match_no_index' value=$match_no_index+1}
{else}
        <td class="td_right"></td>
{/if}
{/section}
        <td class="td_right"> {$league_list[league_data].team[$smarty.section.dantai_index_row.index].point/2}</td>
        <td class="td_right"> {$league_list[league_data].team[$smarty.section.dantai_index_row.index].win}</td>
        <td class="td_right"> {$league_list[league_data].team[$smarty.section.dantai_index_row.index].hon}</td>
        <td class="td_right" {if $league_list[league_data].team[$smarty.section.dantai_index_row.index].advanced == 1}bgcolor="#ffbbbb"{/if}>{$league_list[league_data].team[$smarty.section.dantai_index_row.index].standing}</td>
      </tr>
{/section}
      <tr>
        <td class="td_right" colspan="7">&nbsp;</td>
      </tr>
    </table>
{/section}
    </form>
    <br />
    <br />
    <br />
{$htmlfooter|smarty:nodefaults}
