<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<title>{$seriesinfo.name} 管理画面</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/actindicator.css" rel="stylesheet" type="text/css" />
<link href="css/cropper.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="js/cropper.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/actindicator.js"></script>
</head>
<body>
<div id="actindicator"><img src="js/images/712.gif" width="64" height="64" alt="Loading..." /></div>
<div id="actindicator_fade"></div>
<div id="header">
  {$seriesinfo.name}管理画面
</div>
<div id="pagebody">
{if $display_navi == 1 }
  <div id="navi">
 {if $smarty.session.auth.series == 5 || $smarty.session.auth.series == 6 }
    <p><a href="info.php?s=5">男子エントリー一覧</a></p>
    <p><a href="dantai_league.php?s=5&mw=m">団体(男子)リーグ戦</a></p>
    <p><a href="dantai_tournament.php?s=5&mw=m">団体(男子)トーナメント</a></p>
    <p><a href="info.php?s=6">女子エントリー一覧</a></p>
    <p><a href="dantai_league.php?s=6&mw=w">団体(女子)リーグ戦</a></p>
    <p><a href="dantai_tournament.php?s=6&mw=w">団体(女子)トーナメント</a></p>
 {/if}
 {if $smarty.session.auth.series == 7 || $smarty.session.auth.series == 8 || $smarty.session.auth.series == 9 || $smarty.session.auth.series == 10}
    <p><a href="info.php?s=7">男子団体エントリー一覧</a></p>
    <p><a href="dantai_league.php?s=7&mw=m">男子団体リーグ戦</a></p>
    <p><a href="dantai_tournament.php?s=7&mw=m">男子団体トーナメント</a></p>
    <p><a href="info.php?s=9">男子個人エントリー一覧</a></p>
    <p><a href="kojin_tournament.php?s=9&mw=m">男子個人トーナメント</a></p>
    <p><a href="info.php?s=8">女子団体エントリー一覧</a></p>
    <p><a href="dantai_league.php?s=8&mw=w">女子団体リーグ戦</a></p>
    <p><a href="dantai_tournament.php?s=8&mw=w">女子団体トーナメント</a></p>
    <p><a href="info.php?s=10">女子個人エントリー一覧</a></p>
    <p><a href="kojin_tournament.php?s=10&mw=w">女子個人トーナメント</a></p>
 {/if}
 {if $smarty.session.auth.series == 11 || $smarty.session.auth.series == 65}
    <p><a href="info.php?s=65">男子エントリー一覧</a></p>
    <p><a href="kojin_tournament.php?s=65&mw=m">男子トーナメント</a></p>
    <p><a href="referee.php?s=65">男子審判登録</a></p>
    <p><a href="info.php?s=11">女子エントリー一覧</a></p>
    <p><a href="kojin_tournament.php?s=11&mw=w">女子トーナメント</a></p>
    <p><a href="referee.php?s=11">女子審判登録</a></p>
 {/if}
 {if $smarty.session.auth.series == 12 || $smarty.session.auth.series == 13 || $smarty.session.auth.series == 14 || $smarty.session.auth.series == 15}
    <p><a href="info.php?s=12">男子団体エントリー一覧</a></p>
    <p><a href="dantai_league.php?s=12&mw=m">男子団体リーグ戦</a></p>
    <p><a href="info.php?s=14">男子個人エントリー一覧</a></p>
    <p><a href="kojin_tournament.php?s=14&mw=m">男子個人トーナメント</a></p>
    <p><a href="info.php?s=13">女子団体エントリー一覧</a></p>
    <p><a href="dantai_league.php?s=13&mw=w">女子団体リーグ戦</a></p>
    <p><a href="info.php?s=15">女子個人エントリー一覧</a></p>
    <p><a href="kojin_tournament.php?s=15&mw=w">女子個人トーナメント</a></p>
 {/if}
 {if $smarty.session.auth.series == 16 || $smarty.session.auth.series == 17 || $smarty.session.auth.series == 18 || $smarty.session.auth.series == 19}
    <p><a href="info.php?s=16">男子団体エントリー一覧</a></p>
    <p><a href="dantai_league.php?s=16&mw=m">男子団体リーグ戦</a></p>
    <p><a href="dantai_tournament.php?s=16&mw=m">男子団体トーナメント</a></p>
    <p><a href="info.php?s=18">男子個人エントリー一覧</a></p>
    <p><a href="kojin_tournament.php?s=18&mw=m">男子個人トーナメント</a></p>
    <p><a href="info.php?s=17">女子団体エントリー一覧</a></p>
    <p><a href="dantai_league.php?s=17&mw=w">女子団体リーグ戦</a></p>
    <p><a href="dantai_tournament.php?s=17&mw=w">女子団体トーナメント</a></p>
    <p><a href="info.php?s=19">女子個人エントリー一覧</a></p>
    <p><a href="kojin_tournament.php?s=19&mw=w">女子個人トーナメント</a></p>
 {/if}
 {if $smarty.session.auth.series == 2 }
    <p><a href="info.php?s=2">エントリー一覧</a></p>
    <p><a href="dantai_tournament.php?s=2&mw=m">男子団体トーナメント</a></p>
    <p><a href="dantai_tournament.php?s=2&mw=w">女子団体トーナメント</a></p>
 {/if}
 {if $smarty.session.auth.series == 3 }
    <p><a href="info.php?s=3">小学校エントリー一覧</a></p>
    <p><a href="dantai_league.php?s=3&mw=m">リーグ</a></p>
    <p><a href="dantai_tournament.php?s=3&mw=m">トーナメント</a></p>
    <p><a href="dantai_league.php?s=3&mw=w">決勝リーグ</a></p>
 {/if}
 {if $smarty.session.auth.series >= 20 && $smarty.session.auth.series != 65}
  {if $seriesinfo.dantai_league_m != 0 || $seriesinfo.dantai_tournament_m != 0}
    <p><a href="info.php?s={if $seriesinfo.dantai_league_m != 0}{$seriesinfo.dantai_league_m}{else}{$seriesinfo.dantai_tournament_m}{/if}">{$seriesinfo.dantai_m_name}エントリー一覧</a></p>
  {/if}
  {if $seriesinfo.dantai_league_m != 0}
    <p><a href="dantai_league.php?s={$seriesinfo.dantai_league_m}&mw=m">{$seriesinfo.dantai_m_name}リーグ戦</a></p>
  {/if}
  {if $seriesinfo.dantai_tournament_m != 0}
    <p><a href="dantai_tournament.php?s={$seriesinfo.dantai_tournament_m}&mw=m">{$seriesinfo.dantai_m_name}トーナメント</a></p>
  {/if}
  {if $seriesinfo.kojin_league_m != 0 || $seriesinfo.kojin_tournament_m != 0}
    <p><a href="info.php?s={$seriesinfo.kojin_tournament_m}">{$seriesinfo.kojin_m_name}エントリー一覧</a></p>
  {/if}
  {if $seriesinfo.kojin_league_m != 0}
    <p><a href="kojin_league.php?s={$seriesinfo.kojin_league_m}&mw=m">{$seriesinfo.kojin_m_name}リーグ戦</a></p>
  {/if}
  {if $seriesinfo.kojin_tournament_m != 0}
    <p><a href="kojin_tournament.php?s={$seriesinfo.kojin_tournament_m}&mw=m">{$seriesinfo.kojin_m_name}トーナメント</a></p>
  {/if}
  {if $seriesinfo.dantai_league_w != 0 || $seriesinfo.dantai_tournament_w != 0}
    <p><a href="info.php?s={if $seriesinfo.dantai_league_w != 0}{$seriesinfo.dantai_league_w}{else}{$seriesinfo.dantai_tournament_w}{/if}">{$seriesinfo.dantai_w_name}エントリー一覧</a></p>
  {/if}
  {if $seriesinfo.dantai_league_w != 0}
    <p><a href="dantai_league.php?s={$seriesinfo.dantai_tournament_w}&mw=w">{$seriesinfo.dantai_w_name}リーグ戦</a></p>
  {/if}
  {if $seriesinfo.dantai_tournament_w != 0}
    <p><a href="dantai_tournament.php?s={$seriesinfo.dantai_tournament_w}&mw=w">{$seriesinfo.dantai_w_name}トーナメント</a></p>
  {/if}
  {if $seriesinfo.kojin_league_w != 0 || $seriesinfo.kojin_tournament_w != 0}
    <p><a href="info.php?s={$seriesinfo.kojin_tournament_w}">{$seriesinfo.kojin_w_name}エントリー一覧</a></p>
  {/if}
  {if $seriesinfo.kojin_league_w != 0}
    <p><a href="kojin_league.php?s={$seriesinfo.kojin_league_w}&mw=w">{$seriesinfo.kojin_w_name}リーグ戦</a></p>
  {/if}
  {if $seriesinfo.kojin_tournament_w != 0}
    <p><a href="kojin_tournament.php?s={$seriesinfo.kojin_tournament_w}&mw=w">{$seriesinfo.kojin_w_name}トーナメント</a></p>
  {/if}
  {if $seriesinfo.enable_referee != 0}
    <p><a href="referee.php?s={if $seriesinfo.dantai_league_m != 0}{$seriesinfo.dantai_league_m}{else}{$seriesinfo.dantai_tournament_m}{/if}">審判登録</a></p>
  {/if}
 {/if}
{*
    <p><a href="info.php?s=2">中学校エントリー一覧</a></p>
    <p><a href="dantai_tournament.php?s=2&mw=m">団体(男子)トーナメント</a></p>
    <p><a href="dantai_tournament.php?s=2&mw=w">団体(女子)トーナメント</a></p>
    <p><a href="info.php?s=3">小学校エントリー一覧</a></p>
*}
{*
    <p><a href="dantai_league.php?c=1">団体(男子)リーグ戦</a></p>
    <p><a href="dantai_tournament.php?c=1">団体(男子)トーナメント</a></p>
    <p><a href="dantai_league.php?c=2">団体(女子)リーグ戦</a></p>
    <p><a href="dantai_tournament.php?c=2">団体(女子)トーナメント</a></p>
    <p><a href="kojin_tournament.php?c=1">個人戦(男子)</a></p>
    <p><a href="kojin_tournament.php?c=2">個人戦(女子)</a></p>
*}
{if $smarty.session.auth.series == 41 }
    <p><a href="dantai_league_check_score.php?s={$seriesinfo.dantai_league_m}&mw=m" target="_blank">スコアーチェック(リーグ戦)</a></p>
    <p><a href="dantai_tournament_check_score.php?s={$seriesinfo.dantai_tournament_m}&mw=m" target="_blank">スコアーチェック(トーナメント)</a></p>
    <p><a href="/kendo/result/nenrin/2024/pdf/match_all.pdf" target="_blank">全試合PDFダウンロード</a></p>
{/if}
    <p><a href="login.php">ログアウト</a></p>
  </div>
{else}
{*    <p><a href="login.php">ログアウト</a></p>*}
{*    <p><a href="{$top_url}">トップに戻る</a></p>*}
{/if}
  <div id="main">
