      <div class="tw5">
        大型バス<input id="traffic_bus_l" type="text" name="traffic_bus_l" value="{$smarty.session.p.traffic_bus_l}" maxlength="8" class="text" placeholder="0"{$smarty.session.p.form_disabled} />
        &nbsp;マイクロバス<input id="traffic_bus_s" type="text" name="traffic_bus_s" value="{$smarty.session.p.traffic_bus_s}" maxlength="8" class="text" placeholder="0"{$smarty.session.p.form_disabled} />
        &nbsp;自家用車<input id="traffic_mycar" type="text" name="traffic_mycar" value="{$smarty.session.p.traffic_mycar}" maxlength="8" class="text" placeholder="0"{$smarty.session.p.form_disabled} />
      </div>
