{$htmlheader|default:''}
    <h2>審判編集</h2>
    <br />
    <form action="referee.php?s={$smarty.session.p.series}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="mode" value="exec">
      <table id="ex_t" border="0" cellspacing="1" cellpadding="0">
        <tr>
          <td colspan="2"><h1>審判編集</h1></td>
        </tr>
        <tr>
          <td colspan="2"><h2>審判入力</h2></td>
        </tr>
        <tr>
          <td class="td_left3">審判名</td>
          <td class="td_right">{$smarty.session.p.sei}&nbsp;{$smarty.session.p.mei}</td>
        </tr>
      </table>
      <br />
      <input type="submit" name="cancel" value="再編集">
{if $smarty.session.auth.locked == 0}
      <input type="submit" name="exec" value="登録">
{/if}
    </form>
    <br />
    <br />
    <br />
{$htmlfooter|default:''}
