@charset "UTF-8";
@font-face {
  font-family: 'ipamjm';
  src: url(/common/ipamjm.ttf) format("truetype");
}
body {
	font-family: ipamjm,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}
.tb_score_1 {
}
.tbnamecolor {
	background-color: #D9E3E3;
	text-align: center;
}
.tbname01 {
	background-color: #EFEFEE;
	text-align: center;
}
.tbnamecolor2 {
	background-color: #FCE6E5;
	text-align: center;
}
.tbsmallfont6 {
	font-size: 21px;
}
.tbsmallfont7 {
	font-size: 20px;
}
.tbsmallfont8 {
	font-size: 15px;
}
.tbsmallfont9 {
	font-size: 14px;
}
.tbsmallfont10 {
	font-size: 13px;
}
.tbsmallfont11 {
	font-size: 12px;
}
.tbsmallfont12 {
	font-size: 11px;
}
.tbsmallfont13 {
	font-size: 10px;
}
.tbsmallfont14 {
	font-size: 9px;
}
.tbsmallfont15 {
	font-size: 8px;
}


.tbsmallfont {
	background-color: #D9E3E3;
	text-align: center;
}
