<!doctype html>
<html>
<head>
<meta name="viewport"
content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link media="only screen and (max-device-width:480px)" href="{$root_url}css/mobile.css" type="text/css" rel="stylesheet" />
<link media="screen and (min-device-width:481px)" href="{$root_url}css/style.css" type="text/css" rel="stylesheet" />
<!--[if IE]>
<link href="{$root_url}design.css" type="text/css" rel="stylesheet" />
<![endif]-->

<meta charset="UTF-8">
<title>{$series_name}エントリー編集フォームログイン</title>
</head>

<body>
<div id="main">
  <form id="form" name="form1" method="post" action="">
    <input type="hidden" name="mode" value="auth" />
    <div class="titlename">
      <h1>{$series_name}エントリー編集フォームログイン</h1>
    </div>
    <p class="login_pass">ID：<input type="text" name="username"></p>
    <p class="login_pass">パスワード：<input type="password" name="password"></p>
    <input type="submit" name="exec" value="ログイン">
  </form>
  <script>document.form1.password.focus();</script>
</body>
</html>
