      <div class="tw100">
{if $smarty.session.p.shumoku_dantai_w_taikai=='1'}大会参加&nbsp;{/if}
{if $smarty.session.p.shumoku_dantai_w_rensei_1am=='1'}1日目錬成会午前参加&nbsp;{/if}
{if $smarty.session.p.shumoku_dantai_w_rensei_1pm=='1'}1日目錬成会午後参加&nbsp;{/if}
{if $smarty.session.p.shumoku_dantai_w_rensei_3am=='1'}3日目錬成会午前参加&nbsp;{/if}
{if $smarty.session.p.shumoku_dantai_w_opening=='1'}開会式参加&nbsp;{/if}
{if $smarty.session.p.shumoku_dantai_w_konshin=='1'}懇親会参加する({$smarty.session.p.shumoku_dantai_w_text}名){/if}
      </div>
