@charset "UTF-8";
body {
	font: 100%/1.4 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	background-color: #000000;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ エレメント / タグセレクター ~~ */
ul, ol, dl { /* ブラウザー間の相違により、リストの余白とマージンをゼロにすることをお勧めします。一貫性を保つために、量をここで指定するか、リストに含まれるリスト項目 (LI、DT、DD) で指定できます。より詳細なセレクターを記述しない限り、ここで指定する内容が .nav リストにも適用されることに注意してください。 */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* 上マージンを削除すると、マージンを含む div からマージンがはみ出す場合があるという問題を回避できます。残った下マージンにより、後続のエレメントからは離されます。 */
	padding-right: 15px;
	padding-left: 15px; /* div 自体ではなく div 内でエレメントの両側に余白を追加すると、ボックスモデル計算が不要になります。代わりに、両側に余白を指定した div をネストして使用することもできます。 */
}
a img { /* このセレクターは、一部のブラウザーでイメージをリンクで囲んだ場合にイメージの周囲に表示される初期設定の青いボーダーを削除します。 */
	border: none;
}

/* ~~ サイトのリンクのスタイル付けは、ホバー効果を作成するセレクターグループも含め、この順序にする必要があります。~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* 非常に特殊な表示方法でリンクをスタイル付けする場合を除き、一目で見分けられるように下線を指定することをお勧めします。 */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* このセレクターグループは、キーボードを使用するユーザーに対し、マウスを使用するユーザーと同じホバー効果を提供します。 */
	text-decoration: none;
}

/* ~~ このコンテナが他のすべての div を囲み、パーセンテージに基づいた幅を指定します。~~ */
.container {
	width: 100vw;
	max-width: 1100px;/* レイアウトが大型モニターで広がりすぎないように、最大幅を指定することをお勧めします。これにより、読みやすい行の長さを保つことができます。IE6 ではこの宣言は無視されます。 */
	/*min-width: 1100px;*//* レイアウトが狭くなりすぎないように、最小幅を指定することをお勧めします。これにより、サイドカラムで読みやすい行の長さを保つことができます。IE6 ではこの宣言は無視されます。 */
	background-color: #000;
	/*padding: 0 32px;*/ /* 幅に加え、両側を自動値とすることで、レイアウトが中央に揃います。.container の幅を 100% に設定した場合、これは必要ありません。 */
	text-align: center;
}

/* ~~ これはレイアウト情報です。~~ 

1) 余白は、div の上部または下部にのみ配置されます。この div 内のエレメントには、それ自体に余白があるので、ボックスモデル計算を行う必要がありません。ただし、div 自体に両側の余白やボーダーを指定した場合、その値が加算されたものが合計幅になることに注意してください。div 内のエレメントの余白を削除し、さらにその div 内に、全体のデザインに必要な幅や余白を指定していない 2 つ目の div を追加することもできます。

*/
.content {
	width: calc(100% - 128px);
	margin: 0 32px;
	padding: 32px;
	float: left;
	background-color: #FFF;
}

/* ~~ このセレクターグループは、.content 内のリストに領域間隔を指定します。~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* この余白は、上述の見出しと段落ルールの右の余白を表します。下の余白はリスト内の他のエレメントとの間隔用に配置され、左の余白はインデント作成用に配置されています。これは必要に応じて調整できます。 */
}

/* ~~ その他の float/clear クラス ~~ */
.fltrt {  /* このクラスを使用すると、ページ内でエレメントを右にフローティングさせることができます。フローティングさせるエレメントは、ページ内で横に並べて表示するエレメントの前に指定する必要があります。 */
	float: right;
	margin-left: 8px;
}
.fltlft { /* このクラスを使用すると、ページ内でエレメントを左にフローティングさせることができます。フローティングさせるエレメントは、ページ内で横に並べて表示するエレメントの前に指定する必要があります。 */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* このクラスは、.container で overflow:hidden が削除されている場合に、<br /> または空の div で、フローティングさせる最後の div に続く最後のエレメントとして (#container 内に) 配置できます。 */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
#result1 .tb_score_in {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: 1000px;
	padding-left: 5px;
	/*table-layout: fixed;*/
	border: none;
}
#result1 .tb_score_title {
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	width: 160px;
	padding-left: 5px;
	border: none;
	float: left;
}
#result1 .tb_score_title2 {
	text-align: left;
	width: 440px;
	padding-left: 5px;
	bordertb_frame_content2_smallfont: none;
	float: left;
}
#result1 .tb_srect {
	text-align: center;
	width: 40px;
	height: 320px;
	font-size: 24px;
	line-height: 110%;
	float: left;
	border: none;
}
#result1 .tb_srect_content {
	margin: 5% 19% 0 19%;
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80;*/
	line-height: 110%;
	height: 100%;
	width: 60%;
}
#result1 .tb_frame {
	text-align: center;
	width: calc((100% - 32px) / 9.1);
	height: 320px;
	float: left;
	border: 1px solid #000000;
}
#result1 .tb_frame_face {
	text-align: center;
	width: 240px;
	height: 370px;
	float: left;
	border: none;
}
#result1 .tb_frame_name {
	text-align: center;
	width: 200px;
	height: 360px;
	float: left;
	border: none;
}
#result1 .tb_frame_name .name {
	margin: 20% 30% 0 0;
	text-align: center;
	border: none;
	font-size: 88px;
	line-height: 95%;
	height: 200px; //220px;
	position:relative;
}
#result1 .tb_frame_name .name2 {
	margin: 20% 0 0 30%;
	text-align: center;
	border: none;
	font-size: 88px;
	line-height: 95%;
	height: 200px; //220px;
	position:relative;
}
#result1 .tb_frame_face .frame {
	width: 100%;
    height: 270px;
	border: none;
}
#result1 .tb_frame_face .frame .photo {
	width: 100%;
	border: none;
}
#result1 .tb_frame_side_red {
	text-align: center;
	height: 32px;
	border: none;
	background-color: #ff0000;
	border: 1.5px solid #000000;*/
}
#result1 .tb_frame_side_white {
	text-align: center;
	height: 32px;
	border: none;
	background-color: #ffffff;
	border: 1.5px solid #000000;*/
}
#result1 .tb_frame_face .pref {
	text-align: center;
	border: none;
	font-size: 40px;
	/*line-height: 95%;*/
	height: 56px;
}

#result1 .tb_frame_title {
	text-align: center;
	height: 24px;
	border: none;
}
#result1 .tb_frame_content {
	margin: 15% 19% 0 19%;
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80; */
	font-size: clamp(1px, calc((100vw - 128px)* 0.06), 50px);
	line-height: 95%;
	height: 200px; //220px;
	width: 60%;
	position:relative;
/*	vertical-align:middle;*/
}
#result1 .tb_frame_content2 {
	margin: 15% 19% 0 19%;
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80; */
	font-size: clamp(1px, calc(100vw* 0.0689), 56px);
	line-height: 95%;
	height: 220px;
	width: 60%;
	position:relative;
/*	vertical-align:middle;*/
}
#result1 .tb_frame_referee {
	margin: 10% 19% 0 19%;
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80; */
	font-size: clamp(1px, calc((100vw - 128px)* 0.06), 44px);
	line-height: 95%;
	height: 220px;
	width: 60%;
	position:relative;
/*	vertical-align:middle;*/
}
#result1 .tb_frame_referee2 {
	margin: 10% 0 0 0;
	text-align: center;
	border: none;
	font-size: clamp(1px, calc((100vw - 128px)* 0.048), 36px);
	line-height: 95%;
	height: 220px;
	width: 48%;
    float: left;
}
#result1 .tb_frame_content2_smallfont6 {
	font-size: 50px;
}
#result1 .tb_frame_content2_smallfont7 {
	font-size: 42px;
}
#result1 .tb_frame_content2_smallfont8 {
	font-size: 37px;
}
#result1 .tb_frame_content2_smallfont9 {
	font-size: 33px;
}
#result1 .tb_frame_content2_smallfont10 {
	font-size: 29px;
}
#result1 .tb_frame_content2_smallfont11 {
	font-size: 27px;
}
#result1 .tb_frame_content2_smallfont12 {
	font-size: 25px;
}
#result1 .tb_frame_content2_smallfont13 {
	font-size: 22px;
}
#result1 .tb_frame_content2_smallfont14 {
	font-size: 20px;
}
#result1 .tb_frame_content2_smallfont15 {
	font-size: 19px;
}
#result1 .tb_frame_current_match {
	background-color: #ff0000;
}
#result1 .tb_frame_hoin_player__ {
	background-color: #ffaaaa;
}
#result1 .tb_frame_result_content {
	margin: 50% 4% 0 4%;
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80;*/
	font-size: 40px;
	line-height: 105%;
	height: 30%;
	width: 90%;
	position:relative;
}
#result1 .tb_frame_result_hon {
	position:absolute;
	top: 8%;
	left: 5%;
/*	margin: 0 4% 0 4%;*/
	text-align: center;
	border: none;
	width: 90%;
}
#result1 .tb_frame_result_win {
	position:absolute;
	top: 50%;
	left: 5%;
/*	margin: 0 4% 0 4%;*/
	text-align: center;
	border-top: 2px solid #000000;
	width: 90%;
}
#result1 .tb_frame_result_win_dai {
	position:absolute;
	top: 80%;
	left: 80%;
/*	margin: 0 4% 0 4%;*/
	text-align: center;
	border:none;
	font-size: 24px;
/*	width: 90%;*/
}
#result1 .tb_frame_btop {
	border-top: 1px solid #000000;*/
}
#result1 .tb_frame_bbottom {
	border-bottom: 1px solid #000000;*/
}
#result1 .tb_frame_waza {
	text-align: center;
	height: 60px;
}
#result1 .tb_frame_waza1 {
	text-align: center;
	color: #ff0000;
	border: none;
	font-size: 40px;
	width: 28px; //32px;
	height: 50px;
	float: left;
	margin-top: -4px;
}
#result1 .tb_frame_waza2 {
	text-align: center;
	color: #ff0000;
	border: none;
	font-size: 48px;
	width: 32px;
	height: 34px;
	float: left;
	margin: -12px 0 0 -4px;
}
#result1 .tb_frame_faul {
	text-align: left;
	border: none; /*1px solid #000000;*/
	height: 30px;
	position:relative;
	font-size: 36px;
	margin-top: -12px;
    padding-bottom: 8px;
}
#result1 .tb_frame_faul1 {
	text-align: center;
	border: none;
	font-size: 16px;
	width: 30px;
	height: 24px;
	float: left;
}
#result1 .tb_frame_faul_extra {
	text-align: center;
	border: 1px solid #000000;
	width: 24px;
	position:absolute;
	top: 12%;
	left: 60%;
	font-size: 18px;
    z-index: 10;
}
#result1 .tb_frame_ippon {
	text-align: center;
	border: none;
	width: 24px;
	position:absolute;
	top: 260px;
	left: 75%;
	font-size: 18px;
	line-height: 105%;
}
#result1 .tb_frame_supporter1 {
	text-align: left;
	border: none; /*1px solid #000000;*/
	height: 30px;
	position:absolute;
	font-size: 36px;
	top: 150px;
	left: -25%;
    color: #ff0000;
}
#result1 .tb_frame_supporter2 {
	text-align: left;
	border: none; /*1px solid #000000;*/
	height: 30px;
	position:absolute;
	font-size: 36px;
	top: 180px;
	left: -25%;
    color: #ff0000;
}
#result1 .tb_frame_draw {
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80; */
	width: 60px;
	height: 60px;
	position:absolute;
	top: 267px; /* 260px; */
	left: -3px;
	font-size: 88px;
}
#result1 .tb_frame_name_add {
    margin-left: -26px;
	font-size: 48px;
}
#result1 .tbprefnamehalf {
	text-align: center;
	width: 50px;
	float: left;
}
#result1 .tx-h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: large;
	color: #003;
}
#result1 .tx-small {
	font-size: small;
	text-align: center;
}
#result1 .rb-large {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	text-align: center;
}
#result1 .tx-large {
	font-size: 36px;
	text-align: center;
}
#result1 .tx-name {
	font-size: 24px;
	text-align: left;
}

#result1 .result-circle {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #ffffff;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%; 
	border-radius: 100%;
	border: 1px solid #000000;
}

#result1 .result-triangle {
	display: inline-block;
	width: 100%;
	height: 100%;
}
#result1 .result-triangle .tri-image {
	width: 100%;
	height: 100%;
}
#result1 .result-triangle__:before, .result-triangle__:after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 0;
    top: 0px;
}
#result1 .result-triangle__:before {
	border-bottom: 100px solid #000000;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    top: 0px;
    z-index: 5;
}
#result1 .result-triangle__:after {
	border-bottom: 100px solid #CCCCCC;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    top: 0px;
    top: 1px;
    z-index: 10;
}

#result1 .result-square {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	border: 1px solid #000000;
}

/* ************************************************************* */

#result2 .tb_score_in {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: 1000px;
	padding-left: 5px;
	/*table-layout: fixed;*/
	border: none;
}
#result2 .tb_score_title {
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	width: 220px;
	padding-left: 5px;
	border: none;
	float: left;
}
#result2 .tb_score_title2 {
	text-align: left;
	width: 440px;
	padding-left: 5px;
	bordertb_frame_content2_smallfont: none;
	float: left;
}
#result2 .tb_srect {
	text-align: center;
	width: 40px;
	height: 320px;
	font-size: 24px;
	line-height: 110%;
	float: left;
	border: none;
}
#result2 .tb_srect_content {
	margin: 5% 19% 0 19%;
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80;*/
	line-height: 110%;
	height: 100%;
	width: 60%;
}
#result2 .tb_frame {
	text-align: center;
	width: 200px;
	height: 320px;
	float: left;
	border: none;
}
#result2 .tb_frame_face {
	text-align: center;
	width: 240px;
	height: 370px;
	float: left;
	border: none;
}
#result2 .tb_frame_name {
	text-align: center;
	width: 200px;
	height: 360px;
	float: left;
	border: none;
}
#result2 .tb_frame_name .name {
	margin: 20% 30% 0 0;
	text-align: center;
	border: none;
	font-size: 88px;
	line-height: 95%;
	height: 200px; //220px;
	position:relative;
}
#result2 .tb_frame_name .name2 {
	margin: 20% 0 0 30%;
	text-align: center;
	border: none;
	font-size: 88px;
	line-height: 95%;
	height: 200px; //220px;
	position:relative;
}
#result2 .tb_frame_face .frame {
	width: 100%;
    height: 270px;
	border: none;
}
#result2 .tb_frame_face .frame .photo {
	width: 100%;
	border: none;
}
#result2 .tb_frame_face .frame .name1 {
	width: 400px;
	margin: 0;
    padding: 30% 0 0 0;
	text-align: left;
	border: none;
	font-size: 88px;
	line-height: 95%;
}
#result2 .tb_frame_face .frame .name2 {
	float: right;
	width: 400px;
	margin: 0;
    padding: 30% 0 0 0;
	text-align: right;
	border: none;
	font-size: 88px;
	line-height: 95%;
}
#result2 .tb_frame_side_red {
	text-align: center;
	height: 32px;
	border: none;
	background-color: #ff0000;
	border: 1.5px solid #000000;*/
}
#result2 .tb_frame_side_white {
	text-align: center;
	height: 32px;
	border: none;
	background-color: #ffffff;
	border: 1.5px solid #000000;*/
}
#result2 .tb_frame_face .pref1 {
	text-align: left;
	border: none;
	font-size: 40px;
	/*line-height: 95%;*/
	height: 56px;
}
#result2 .tb_frame_face .pref2 {
	text-align: right;
	border: none;
	font-size: 40px;
	/*line-height: 95%;*/
	height: 56px;
}
#result2 .tb_frame_title {
	text-align: center;
	height: 24px;
	border: none;
}
#result2 .tb_frame_content {
	margin: 5% 19% 0 19%;
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80; */
	font-size: 64px;
	line-height: 95%;
	height: 200px; //220px;
	width: 60%;
	position:relative;
/*	vertical-align:middle;*/
}
#result2 .tb_frame_content2 {
	margin: 5% 19% 0 19%;
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80; */
	font-size: 58px;
	line-height: 95%;
	height: 220px;
	width: 60%;
	position:relative;
/*	vertical-align:middle;*/
}
#result2 .tb_frame_content2_smallfont6 {
	font-size: 46px;
}
#result2 .tb_frame_content2_smallfont7 {
	font-size: 40px;
}
#result2 .tb_frame_content2_smallfont8 {
	font-size: 37px;
}
#result2 .tb_frame_content2_smallfont9 {
	font-size: 32px;
}
#result2 .tb_frame_content2_smallfont10 {
	font-size: 29px;
}
#result2 .tb_frame_content2_smallfont11 {
	font-size: 24px;
}
#result2 .tb_frame_content2_smallfont12 {
	font-size: 22px;
}
#result2 .tb_frame_content2_smallfont13 {
	font-size: 20px;
}
#result2 .tb_frame_content2_smallfont14 {
	font-size: 18px;
}
#result2 .tb_frame_content2_smallfont15 {
	font-size: 16px;
}
#result2 .tb_frame_hoin_player_ {
	background-color: #ffaaaa;
}
#result2 .tb_frame_result_content {
	margin: 50% 4% 0 4%;
	text-align: center;
	border: none;
/*	border: 1px solid #80ff80;*/
	font-size: 40px;
	line-height: 105%;
	height: 30%;
	width: 90%;
	position:relative;
}
#result2 .tb_frame_result_hon {
	position:absolute;
	top: 8%;
	left: 5%;
/*	margin: 0 4% 0 4%;*/
	text-align: center;
	border: none;
	width: 90%;
}
#result2 .tb_frame_result_win {
	position:absolute;
	top: 50%;
	left: 5%;
/*	margin: 0 4% 0 4%;*/
	text-align: center;
	border-top: 2px solid #000000;
	width: 90%;
}
#result2 .tb_frame_result_win_dai {
	position:absolute;
	top: 80%;
	left: 80%;
/*	margin: 0 4% 0 4%;*/
	text-align: center;
	border:none;
	font-size: 24px;
/*	width: 90%;*/
}
#result2 .tb_frame_btop {
	border-top: 1px solid #000000;*/
}
#result2 .tb_frame_bbottom {
	border-bottom: 1px solid #000000;*/
}
#result2 .tb_frame_waza {
	text-align: center;
	width: 320px;
	height: 220px;
	float: left;
	border: 1px solid #000000;
}
#result2 .tb_frame_faul {
	text-align: center;
	width: 120px;
	height: 220px;
	float: left;
	border: 1px solid #000000;
	font-size: 80px;
    position: relative;
}
#result2 .tb_frame_waza .waza1 {
    margin: 10px 80px 0 0;
	text-align: center;
	color: #ff0000;
	border: none;
	font-size: 80px;
	width: 240px;
	line-height: 100%;
}
#result2 .tb_frame_waza .waza2 {
    margin: 10px 0 0 80px;
	text-align: center;
	color: #ff0000;
	border: none;
	font-size: 80px;
	width: 240px;
	line-height: 100%;
}
#result2 .tb_frame_waza .waza0 {
	text-align: right;
	color: #ff0000;
	border: none;
	font-size: 30px;
	width: 180px;
	height: 30px;
}
#result2 .tb_frame_waza2 {
	text-align: center;
	color: #ff0000;
	border: none;
	font-size: 80px;
	width: 80px;
	height: 34px;
	float: left;
	margin: -12px 0 0 -4px;
}
#result2 .tb_frame_faul_ {
	text-align: left;
	border: none; /*1px solid #000000;*/
	height: 30px;
	position:relative;
	font-size: 36px;
	margin-top: -12px;
    padding-bottom: 8px;
}
#result2 .tb_frame_faul1 {
	text-align: center;
	border: none;
	font-size: 64px;
	width: 30px;
	height: 24px;
	float: left;
}
#result2 .tb_frame_faul_extra {
	text-align: center;
	background-color: #ffffff;
	border: 1.5px solid #000000;
	width: 140px;
	position:absolute;
	top: 58%;
	left: 27%;
	line-height: 105%;
	font-size: 64px;
    z-index: 10;
}
#result2 .tb_frame_ippon {
	text-align: center;
	background-color: #ffffff;
/*	border: 1.5px solid #000000;*/
	width: 214px;
	position:absolute;
	top: 58%;
	left: 15%;
	font-size: 64px;
/*	line-height: 105%;*/
    z-index: 10;
}
#result2 .tb_frame_supporter {
	text-align: left;
	border: none; /*1px solid #000000;*/
	height: 30px;
	position:absolute;
	font-size: 36px;
	top: 180px;
	left: -25%;
    color: #ff4444;
}
#result2 .tb_frame_draw {
	text-align: center;
	border: none;
//	border: 1px solid #80ff80;
	width: 60px;
	height: 60px;
	position:absolute;
	top: 60px;
	left: 85px;
	font-size: 88px;
}
#result2 .tb_frame_name_add {
    margin-left: -24px;
	font-size: 48px;
}
#result2 .tbprefnamehalf {
	text-align: center;
	width: 50px;
	float: left;
}
#result2 .tx-h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: large;
	color: #003;
}
#result2 .tx-small {
	font-size: small;
	text-align: center;
}
#result2 .rb-large {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	text-align: center;
}
#result2 .tx-large {
	font-size: 36px;
	text-align: center;
}
#result2 .tx-name {
	font-size: 24px;
	text-align: left;
}

#result2 .result-circle {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #ffffff;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%; 
	border-radius: 100%;
	border: 1px solid #000000;
}

#result2 .result-triangle {
	display: inline-block;
	width: 100%;
	height: 100%;
}
#result2 .result-triangle .tri-image {
	width: 100%;
	height: 100%;
}
#result2 .result-triangle__:before, .result-triangle__:after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 0;
    top: 0px;
}
#result2 .result-triangle__:before {
	border-bottom: 100px solid #000000;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    top: 0px;
    z-index: 5;
}
#result2 .result-triangle__:after {
	border-bottom: 100px solid #CCCCCC;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    top: 0px;
    top: 1px;
    z-index: 10;
}

#result2 .result-square {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	border: 1px solid #000000;
}
