@charset "UTF-8";
body {
    background-color: transparent;
}

.container {
    background-color: transparent;
}

.content {
    background-color: transparent;
}

#result1 .result-circle {
    background-color: transparent;
}

#result1 .result-square {
    background-color: transparent;
}
