body {
    background-color: #eeeeee;
}
.container {
    background-color: #eeeeee;
}
.content {
    background-color: #eeeeee;
}
.result-square {
    background-color: #eeeeee;
}
#result1 .container {
    background-color: #eeeeee;
}
#result1 .content {
    background-color: #eeeeee;
}
#result1 .result-square {
    background-color: #eeeeee;
}
#result1 .result-circle {
    background-color: #eeeeee;
}
#result1 .tb_frame_waza1_1 {
    background-color: #eeeeee;
}
#result1 .tb_frame_waza1_2 {
    background-color: #eeeeee;
}
