@charset "UTF-8";
@font-face {
    font-family: 'ipamjm';
    src: url(/kendo/result/common/ipamjm.ttf) format("ttf");
}
body {
    font-family: ipamjm,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
    font-size: 5pt;
}
.content {
    width: 960px;
    height: 980px;
    font-size: 16px;
    margin: 16px;
}
