@charset "UTF-8";
#actindicator {
    width: 48px;
    height: 48px;
    display: none;
    position: fixed;
    _position: absolute; /* forIE6 */
    top: 50%;
    left: 50%;
    margin-top: -24px; /* harlf of height */
    margin-left: -24px; /* half of width */
    z-index: 10000; /*　cboxOverlayが9999になっているため */
}

#actindicator_fade {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #ffffff;
    opacity: 0.3;
/*    position: absolute; */
    position: fixed;
    _position: absolute; /* forIE6 */
    top: 0px;
    left: 0px;
    z-index: 50;
}
