@charset "utf-8";

/********* HTMLリセット *********************************************/

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, pre, blockquote, th, td, form, fieldset, input, textarea {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
em, strong, code, address, th {
	font-weight: normal;
	font-style: normal;
}
ul, ol {
	list-style: none;
}
q:before, q:after {
	content: "";
}
abbr, acronym {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	text-align: left;
}
fieldset, img {
	border: 0;
}

/********* HTML再定義 ***********************************************/

body {
	line-height: 1.4;
	margin: 0 auto;
	padding: 10px;
	background-color: #EEEEEE;
	color: #000000;
	font-size: 80%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

h1 {
	line-height: 1.0;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999999;
	font-size: 200%;
	font-weight: bold;
}
h2 {
	margin: 10px 0;
	padding: 5px 0;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-weight: bold;
}

p {
	margin: 10px 0;
}
em, strong {
	font-style: normal;
	font-weight: bold;
}
ul {
	margin: 10px 20px;
}
ul li {
	list-style: disc;
}
dl {
	margin: 10px 0;
}
dl dd {
	margin-left: 30px;
}
address {
	padding-top: 10px;
	border-top: 1px solid #999999;
}

form legend {
	display: none;
}
form input, form textarea {
	padding: 1px;
}
form dl dt {
	float: left;
	clear: left;
	width: 5em;
}
form ul {
	margin: 15px 0px;
}
form ul li {
	list-style: none;
}
form p input {
	padding: 2px;
}

a:link, a:visited {
	color: #0000CC;
	text-decoration: underline;
}
a:active, a:hover {
	color: #FF7700;
	text-decoration: underline;
}

/********* 基本構造 *************************************************/

.tt{
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
	padding: 5px;
	background-color: #DDDDDD;
}
.t1{
	font-size: 18px;
	font-weight: bold;
	margin: 30px;
}
.bk{
	font-size: 14px;
	margin-top: 50px;
}

div#container {
	width: 550px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #666666;
	background-color: #FFFFFF;
}
div#work {
	margin-bottom: 20px;
}

/********* ナビゲーション *******************************************/

div#navi h2 {
	display: none;
}
div#navi ul {
	margin: 5px 0;
	text-align: right;
}
div#navi ul li {
	display: inline;
	margin-left: 5px;
}

/********* 処理選択 *************************************************/

div#work form {
	margin: 10px 0;
}
div#work form dl dt {
	display: none;
}
div#work form dl dd {
	margin: 0;
}

/********* 設定編集 *************************************************/

div#config form div.data {
	margin-bottom: 20px;
}
div#config form div.data h3 {
	margin: 20px 0 15px 0;
	padding: 3px;
	background-color: #EEEEEE;
}
div#config form div.data p.comment {
	margin: 0 3px 3px 3px;
}
div#config form div.data p.config {
	margin: 0 3px 10px 3px;
}

/********* IE6用設定 ************************************************/

* html body {
	text-align: center;
}
* html body div#container {
	width: 590px;
	text-align: left;
}
